<%- include("header") -%>


<h2>This is the About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptas porro adipisci tempore, voluptate fuga ipsa eaque amet saepe doloremque ex laborum temporibus numquam nesciunt consequuntur doloribus ducimus iure esse!</p>


<%- include("footer") -%>